*{
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    height: 80px;
}


.container__grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

/* mobile */
@media (max-width: 480px) {
    header{
        height: 150px;
    }
    main{
        width: 480px;
        height: 100%;
    }
    main iframe{
        width: 300px;
        height: 200px;
    }
    footer{
        height: 100px;
    }

    .container__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    
    }
}

/* tablet */
@media (min-width: 481px) and (max-width: 800px) {
    header{
        height: 150px;
    }
    main{
        height: 100%;
    }
    main iframe{
        width: 350px;
        height: 250px;
    }
    footer{
        height: 100px;
    }


    .container__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    
    }
}

/* notebook */
@media (min-width: 801px) and (max-width: 1400px) {
    header{
        height: 150px;
    }
    main{
        height: 100%;
    }
    footer{
        height: 100px;
    }


    .container__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    
    }
}

/* escritorio */
@media (min-width: 1401px) {
    header{
        height: 150px;
    }
    main{
        height: 100%;
    }
    footer{
        height: 100px;
    }


    .container__grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    
    }
}